name: CD - Deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Choose environment"
        type: choice
        options:
          - DEV
          - TEST
          - STAGE
          - PROD

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Get latest tag
        id: tag
        run: |
          ENV=${{ github.event.inputs.environment }}
          IMAGE=$(./find-tag.sh "$ENV")
          echo "image=$IMAGE" >> $GITHUB_OUTPUT

      - name: Deploy
        run: |
          echo "Deploying to ${{ github.event.inputs.environment }}"
          echo "Image: ${{ steps.tag.outputs.image }}"
